.content__container {
}

.right {
  flex-grow: 5;
  overflow: scroll;
}

/* .left {
  flex-grow: 1;
  background-color: white;
  position: sticky;
  width: 300px;
} */



@media (max-width: 400px) {

}