.navbar {
  padding: 1rem;
  margin: 0;
  background-color: var(--light-2);
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
}

.nav_buttons {
  background-color: var(--dark-1);
  color: var(--light-1);
  border: 0;
  border-radius: 100px;
  padding: .5rem;
  margin: .2rem;
  text-decoration: none;

}