.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.grow-two {
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}
.relative {
  position: relative;
}

.marg-0 {
  margin: 0;
}

.pad-2 {
  padding: 2rem;
}

.pad-right1 {
  padding-right: 10px;
}

.pad-left1 {
  padding-left: 20px;
}

.marg-5 {
  margin: 0.5rem;
}

.marg-top {
  margin-top: 2rem;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-item-width, 100px), 1fr)
  ); */
  gap: var(--space-md);
}

.grid-center {
  place-content: center;
}

.dark-2 {
  background-color: var(--dark-2);
}

.dark-1 {
  background-color: var(--dark-1);
}

.light-1 {
  background-color: var(--light-1);
}

.marg-4 {
  margin: 4rem;
}

@media (max-width: 900px) {
  .flex {
    display: flex;
    width: 100%;
  }

  .grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: var(--space-md);
    width: 100%;
  }

  .onMediaSpace {
    width: 100px;
  }

  .colToRow {
  }
}
