.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.grow-two {
  flex-grow: 1;
}

.relative {
  position: relative;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-item-width, 200px), 1fr)
  );
  gap: var(--space-md);
}

.grid {
  display: grid;
}

.grid-center {
  place-content: center;
}

@media (max-width: 600px) {
  .flex {
    display: flex;
    width: 100%;
  }

  .grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: var(--space-md);
  }
}
